{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Email tracker</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="{% static 'index.html' %}"><img src="{% static 'images/logo.svg' %}" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="{% static 'index.html' %}"><img src="{% static 'images/logo-mini.svg' %}" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-flex mr-4 ">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <a class="dropdown-item preview-item">
                  <i class="icon-head"></i> Profile
              </a>
              <a class="dropdown-item preview-item">
                  <i class="icon-inbox"></i> Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">

      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="user-profile">
          <div class="user-name">
             {{ user.username }}
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="../../index.html">
              <i class="icon-box menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../pages/database/database.html">
              <i class="icon-help menu-icon"></i>
              <span class="menu-title">Database</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../pages/forms/first_email.html">
              <i class="icon-file menu-icon"></i>
              <span class="menu-title">First Email</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../pages/login/login.html">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">User Login</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Database</h2>
                  <!-- p class="card-description" >
                    Add class <code>.table-{color}</code>
                  </p -->
                  <!-- div class="table-responsive pt-3">
                    <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
                        class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span-->
                    <table class="table table-bordered table-editable" id = "database1" >
                      <thead>
                        <tr>
                          <th>
                            #
                          </th>
                          <th>
                            Name of Recipient
                          </th>
                          <th>
                            Email
                          </th>
                          <th>
                            Instituition
                          </th>
                          <th>
                            Department
                          </th>
                          <th>
                            Interests
                          </th>
                          <th>
                            Country
                          </th>
                          <th>
                            City
                          </th>
                          <th>
                            Delete
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for professor in professor_list %}
                        <tr class="table-info">
                          <td contenteditable="true">
                           {{ professor.index }}
                          </td>
                          <td contenteditable="true">
                           {{ professor.name }}
                          </td>
                          <td contenteditable="true">
                           {{ professor.email }}
                          </td>
                          <td contenteditable="true">
                           {{ professor.university }}
                          </td>
                          <td contenteditable="true">
                           {{ professor.department }}
                          </td>
                          <td contenteditable="true">
                           {{ professor.interests }}
                          </td>
                          <td contenteditable="true">
                           {{ professor.country }}
                          </td>
                          <td contenteditable="true">
                           {{ professor.city }}
                          </td>
                          <td contenteditable="true">
                            <span class="table-remove">
                                <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class = "col-12">
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer ">
          <div class="d-sm-flex justify-content-center justify-content-sm-between col-12">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a href="https://www.bootstrapdash.com/" target="_blank" class="text-muted">bootstrapdash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="icon-heart"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="{% static 'vendors/base/vendor.bundle.base.js' %}"></script>
  <script >
      $("#database1").on('click', '.table-remove', function () {
        $(this).parents('tr').detach();
        });
  </script>
  <script>
    $('.table-add').on('click', 'i', () => {

    const $clone = $database1.find('tbody tr').last().clone(true).removeClass('hide table-line');

    if ($database1.find('tbody tr').length === 0) {

  $('tbody').append(newTr);
}

  </script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
